#gameboard {
    margin: 5vw auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    min-width: 35vw;
    min-height: 35vw;
    max-width: 35vw;
    max-height: 35vw;
    grid-area: board;
}

.board-space {
    text-align: center;
    align-items: center;
    font-size: 7vw;
    max-width: 11.66vw;
    max-height: 11.66vw;
    min-width: 11.66vw;
    min-height: 11.66vw;
    font-family: 'Poppins', sans-serif;
}

#overlay {
    position: fixed; 
    display: none; 
    width: 100%; 
    height: 100%; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); 
    z-index: 2; 
  }

.popup-content {
    text-align: center;
    width: 15vw;
    height: 10vw;
    margin: 20vw auto;
    vertical-align: middle;
    background: white;
    padding-top: 20px;
    border-radius: 5px;
}

.popup-content > div {
    font-family: 'Source Code Pro', monospace;
}

.bottom-right {
    border-bottom: 3px solid black;
    border-right: 3px solid black;
}

.bottom {
    border-bottom: 3px solid black;
}

.bottom-left {
    border-bottom: 3px solid black;
    border-left: 3px solid black;
}

.right {
    border-right: 3px solid black;
}

.left {
    border-left: 3px solid black;
}

#title {
    text-align: center;
    margin: auto;
    font-size: 4vw;
    font-family: 'Oswald', sans-serif;
}

#start-overlay {
    position: fixed; 
    display: block; 
    width: 100%; 
    height: 100%; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); 
    z-index: 2;
}

#start-content {
    margin: 10vw auto;
    width: 35vw;
    height: 25vw;
    border-radius: 5px;
    background: rgb(255, 224, 102, 0.9);
    display: flex;
    flex-wrap: wrap;
}

.p1-form {
    text-align: center;
    width: 17.5vw;
    height: 15vw;
    order: 1;
    font-family: 'Source Code Pro', monospace;
}

.color-label {
    font-size: 1rem;
    margin-top: 10px;
}

.p1-form > label {
    display: block;
    margin-top: 20px;
    text-align: center;
    font-family: 'Source Code Pro', monospace;
    font-size: 1.5rem;
}

.p1-form > input {
    display: inline;
    margin-top: 10px;
    width: 200px;
    text-align: center;
    font-family: 'Source Code Pro', monospace;
    height: 2.5vw;
    font-size: 1.5vw;
}

.p2-form {
    text-align: center;
    width: 17.5vw;
    height: 15vw;
    order: 2;
    font-family: 'Source Code Pro', monospace;
    font-size: 1.5rem;
}

.p2-form > label {
    display: block;
    margin-top: 20px;
    text-align: center;
    font-family: 'Source Code Pro', monospace;
}

.p2-form > input {
    display: inline;
    margin-top: 10px;
    width: 200px;
    text-align: center;
    font-family: 'Source Code Pro', monospace;
    height: 2.5vw;
    font-size: 1.5vw;
}

.play {
    display: inline;
    height: 50px;
    order: 3;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    margin-top: 50px;
}

.play > button {
    height: 50px;
}

#container {
    display: grid;
    grid-template-columns: 30vw 35vw 30vw;
    grid-template-areas: 
    "p1d   board   p2d";
    margin: auto;
    justify-content: center;
    grid-gap: 10px;
}

#p1-display {
    grid-area: p1d;
    margin-top: 5vw;
    text-align: center;
    font-family: 'Source Code Pro', monospace;
}

#p2-display {
    grid-area: p2d;
    margin-top: 5vw;
    text-align: center;
    font-family: 'Source Code Pro', monospace;
}

* {
    box-sizing: border-box;
}

#p1-color, #p2-color {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 10vw;
    height: 10vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    grid-gap: 10px;
    box-sizing: content-box;
}

[data-color = 'blue'] {
    background: blue;
    border-radius: 50%;
    box-sizing: content-box;
}

[data-color = 'red'] {
    background: red;
    border-radius: 50%;
}

[data-color = 'purple'] {
    background: purple;
    border-radius: 50%;
}

[data-color = 'yellow'] {
    background: yellow;
    border-radius: 50%;
}

[data-color = 'pink'] {
    background: pink;
    border-radius: 50%;
}

[data-color = 'green'] {
    background: green;
    border-radius: 50%;
}

[data-color = 'orange'] {
    background: orange;
    border-radius: 50%;
}

[data-color = 'aqua'] {
    background: aqua;
    border-radius: 50%;
}

[data-color = 'indigo'] {
    background: indigo;
    border-radius: 50%;
}